.SideBarSubGroup {
  width: 100%;
}

.groupTitle {
  font-size: 14px;
  font-weight: 600;
  line-height: 13px;
  color: var(--gray30);
  letter-spacing: 0.003em;
  text-align: left;
  padding: 15px;
  text-transform: uppercase;
}
.icon {
  width: 20px;
}

.menuElement {
  text-transform: none;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  display: flex;
  justify-content: start !important;
}

.buttonGroup {
  width: 100%;
}
