.BarriersList {
  background-color: var(--lightGray);
  height: calc(100vh - var(--navPanelHeight) - var(--mainHeaderHeight) - 32px);
  overflow: auto;
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.barriersListWrap {
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
