.card {
  padding: 0 16px 16px;
  max-height: var(--inspectionCardMaxHeight);
  min-height: var(--inspectionCardMinHeight);
  overflow: auto;
  background-color: white;
  box-sizing: border-box;
}
.sentCard {
  border-top: 8px solid var(--blueDeep);

}
.await {
  border-top: 8px solid var(--awaitOrange);
}
.error {
  border-top: 8px solid var(--errorRed);
}
.success {
  border-top: 8px solid var(--successGreen);
}

.title {
  position: sticky;
  background-color: white;
  top: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 25.2px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
}
.separator {
  height: 1px;
  width: 100%;
  background-color: var(--border);
}
.extraInfo {
  border-left: 1px solid var(--border);
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.extraInfoValue {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: var(--gray60);
}
.value {
  color: var(--gray);
}
.checkDates {
  margin: 12px 0 16px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.checkDate {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: var(--gray60);
}
.blueColor {
  color: var(--blue);
}
.checkDetails {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.checkDetailsTitle {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
}
.badgeGroup {
  display: flex;
  gap: 8px;
}
.editButton {
  background-color: var(--lightGray7);
  color: var(--darkBlue);
}

.controlButtonGroup {
  display: flex;
  gap: var(--normalGap);
  margin-top: 24px;
}
