.ViolationDetails {
  padding: 24px;
  background-color: var(--lightGray);
}

.card {
  padding: 12px;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-width: 890px;
}
.code {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
  color: var(--gray60);
}
.name {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.001em;
  text-align: left;
  color: var(--gray);
}
