.BarrierElement {
  background-color: white;
  padding: 18px 22px;
  border-radius: 4px;
  max-height: 150px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.title {
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-width: 890px;
}
.code {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
  color: var(--gray60);
}
.name {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.001em;
  text-align: left;
  color: var(--gray);
}
