.BarrierForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    box-sizing: border-box;
}

.barrierFormWrap {
    /*width: 70%;*/
}

.buttonsGroup {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    padding: 24px 2px ;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid var(--border);
}