.NavPanel {
  padding: 24px;
  height: var(--navPanelHeight);
  box-sizing: border-box;
}
.flexCol {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color: var(--gray);
}
.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
  color: var(--gray60);
}
.buttonsGroup {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 24px 0 ;
  justify-content: space-between;
}
.rightBorder {
  border-right: 1px solid var(--border);
  padding-right: 8px;
  height: 24px;
}
.flexContainer {
  display: flex;
  gap: 10px;
  width: 100%;
}

.backwardBtn {
  width: 25px;
}
.Breadcrumbs {
  width: 100%;
}