.FreeForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-top: 1px solid var(--border);
    padding-top: 10px;
}

.form {

}

.buttonsGroup {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    padding: 64px 2px 0;
    width: 100%;
    box-sizing: border-box;
}

.flexContainer {
    display: flex;
    gap: 10px;
}
