.ViolationsTable {
  padding: 24px;
  width: 80%;
  display: grid;
  gap: 24px;
}
.doubleScreen {
  grid-template-rows: repeat(2, 1fr);
}
.details {
  width: 100px;
  height: 100px;
}
.table {
  overflow: auto;
}
.details {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
  height: 100%;
  gap: 12px;
}
