.SideBar {
  max-width: var(--sideBarWidth);
  border-right: var(--borderLine);
  height: calc(100vh - var(--mainHeaderHeight) - 1px);
}

.icon {
  width: 20px !important;
  color: var(--darkBlue);
}
