.DashBoard {
  display: flex;
  width: 100%;
  gap: 24px;
  justify-content: space-between;
  margin-top: var(--contentPaddingTopBottom);
}
.inspectionGroup {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.newGroup {
  width: 33%;
  min-width: var(--inspectionCardWidth);
}
.sentGroup {
  width: 66%;
  min-width:  calc(var(--inspectionCardWidth) * 2);
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--normalGap);
  height: calc(
    100vh - var(--mainHeaderHeight) - var(--subHeaderHeight) -
      var(--contentPaddingTopBottom) * 2 - var(--inspectionGroupHeader) -
      var(--normalGap)
  );
  overflow-y: auto;
  padding: 0 4px;
}
.cardContainerForNewGroup {
  grid-template-columns:  1fr;
}
.inspectionGroupHeader {
  height: var(--inspectionGroupHeader);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  box-sizing: border-box;
  text-transform: uppercase;
  border-radius: 10px;
  background-color: var(--lightGray);
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-align: left;
}

.flexRow {
  display: flex;
  align-items: center;
}

.virtualScrollWrap {
  display: grid;
  gap: var(--normalGap);

  grid-template-columns: repeat(2, 1fr);
}
