.DashBoard {
    display: flex;
    width: 100%;
    gap: 24px;
    margin-top: 34px;
}
.inspectionGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.inspectionGroupHeader {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    box-sizing: border-box;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: var(--lightGray);
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-align: left;
}

.flexRow {
    display: flex;
    align-items: center;
}