.FilterPanel {
  width: 400px;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 24px;
  padding: 24px;
  height: auto;
  justify-content: space-between;
}
.controlButtonGroup {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.flexCol {
  display: flex;
  flex-direction: column;
}
.Checkbox {
  margin: 10px 0;
}