body {
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --gray: #002033;
  --lightGray7: #00426912;
  --gray30: #0020334D;
  --gray60: #00203399;
  --darkBlue: #00395CCC;
  --lightGray: #ECF1F4;
  --lightText: #FAFAFA;
  --blue: #32B4FF;
  --awaitOrange: #F38B00;
  --successGreen: #22C38E;
  --errorRed: #EB5757;
  --border: #00416633;
  --borderLine: 1px solid var(--border);
  --sideBarWidth: 244px;
  --fieldWidth: 610px;
  --navPanelHeight: 198px;
  --mainHeaderHeight: 76px;
  --paginatorHeight: 75px;
  --subHeaderHeight: 40px;
  --contentPaddingTopBottom: 24px;
  --contentPaddingLeftRight: 20px;
}

.Select-Body {
  width: var(--fieldWidth) !important;

}
.TextField-Body {
  width: var(--fieldWidth) !important;
}

.TextField-Label {
}