body {
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --gray: #002033;
  --gray30: #0020334D;
  --darkBlue: #00395CCC;
  --border: #00416633;
  --borderLine: 1px solid var(--border);
  --sideBarWidth: 244px;
  --mainHeaderHeight: 76px;
}